<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
            <input type="number" class="form-control" name="searchString" placeholder="Buscar por ID" [(ngModel)]="searchString">
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">BookingId</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Dirección</th>
        <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let d of _bs.book | filter: 'bookingId' :searchString">
        <td class="text-left" >{{d.bookingId}}</td>
        <td> Miguel Tuten</td>
        <td>{{d.bookingTime}}</td>
        <td>{{d.locationId.streetAddress}}</td>
        <td>{{d.bookingPrice}}</td>
        </tr>
    </tbody>
    
</table>