<!--Footer-->
<footer class="page-footer font-small blue pt-4">

  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Luis Sanchez </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
                