<nav class="navbar navbar-expand-lg navbar-light" style="background-color: aliceblue">
  <a class="navbar-brand ml-5" href="#">Tuten App</a>

  
    

    <div class="dropdown ml-auto mr-5">
      <!-- <button class="btn btn-secondary" style="height: 50px; width: 50px; background-color: springgreen; border-radius: 50%;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        L
      </button> -->
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Cerrar sesión</a>
      </div>
    </div>

</nav>