section {
    padding: 110px 0; 
    background-color: darkslategrey;
}

section form {
    width: 450px; 
    background-color: white; 
    padding: 20px;
}

section form button {
    padding: 8px 25px;
}

section form p {
    padding-top: 20px;
}