<section>
  <form [formGroup] = "formLogin" class="mx-auto">
    <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="************">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Recordar contraseña</label>
    </div>
    <button type="submit" (click)="login()" [disabled] = "!formLogin.valid"
     class="btn btn-primary">Login</button>
     <p *ngIf="_rs.errorBool"
     class="text-danger">Correo o contraseña incorrecta, intente nuevamente.</p>
  </form>
</section>